|=poop
div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand(href="/")
        img(src="/img/logos/logo-green.png")
      div.nav.pull-right
         div.fb-like(data-href="http://olynode.org", data-layout="button_count", data-show-faces="true", data-width="220", data-font="arial")
         div.fb-facepile(data-href="http://olynode.org", data-max-rows="1", data-width="220", data-colorscheme="dark", data-size="small")
