div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand(href="/")
        img(src="/img/logos/logo-green.png")
      ul.nav.pull-right
        li.divider-vertical
        li
          div.fb-like(data-href="http://olynode.org", data-send="true", data-width="100", data-show-faces="true", data-font="arial")



//<div data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div>