h2 Our Location
img(width="320", height="250", alt="515 Jefferson Street SE Olympia, WA 98501", src="http://maps.googleapis.com/maps/api/staticmap?center=515+jefferson+st+se,+olympia,+wa+98501&zoom=15&size=320x250&maptype=roadmap&markers=color:blue%7c515+jefferson+st+se,+olympia,+wa+98501&sensor=false")