h2 Our Sponsors
div#sponsors.carousel.slide
  div.carousel-inner
    div.item.active
      a(href="http://codesmart.com")
        img(src="/img/sponsors/codesmart.png", alt="CodeSmart") 
    div.item
      a(href="http://tekpub.com")
        img(src="/img/sponsors/tekpub.png", alt="TekPub")