h2 Our Sponsors
div#sponsors.carousel.slide
  div.carousel-inner
    div.item.active
      a(href="http://nodejitsu.com")
        img(src="/img/sponsors/nodejitsu.png", alt="Nodejitsu")
      div.carousel-caption
        h4 Nodejitsu
        p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. 
    div.item
      a(href="http://codesmart.com")
        img(src="/img/sponsors/codesmart.png", alt="CodeSmart")
      div.carousel-caption
        h4 CodeSmart Inc
        p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. 
    div.item
      a(href="http://tekpub.com")
        img(src="/img/sponsors/tekpub.png", alt="TekPub")
      div.carousel-caption
        h4 TekPub
        p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
script
    require(['bootstrap-carousel'], function(){
      $('#sponsors').carousel();
    });