meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="keywords", content="USA,Washington,Olympia,Web Design,Members,group,club,event,community,meetup")
meta(name="description", content="The Olympia Node Users Group is a set of developers interested in using Node.js to build rich realtime interactive web applications. We learn from each other and focus on building real applications at")

meta(name="ICBM", content="46.99,-122.87")

meta(name="geo.position", content="46.99;-122.87")
meta(name="geo.placename", content="Olympia, Washington, USA")
meta(name="geo.region", content="US-WA")

//facebook
meta(name="og:site_name", content="OlyNode.org")
meta(name="og:title", content="Olympia Node User Group")
meta(name="og:url", content="http://olynode.org")

meta(name="og:type", content="activity")
meta(name="og:description", content="The Olympia Node Users Group is a set of developers interested in using Node.js to build rich realtime interactive web applications. We learn from each other and focus on building real applications at")
meta(name="og:locality", content="Olympia")
meta(name="og:country-name", content="us")
meta(name="og:region", content="WA")
meta(name="og:postal-code", content="98501")
meta(name="og:latitude", content="46.99")
meta(name="og:longitude", content="-122.87")
meta(name="og:image", content="http://photos4.meetupstatic.com/photos/event/1/2/3/6/thumb_128524662.jpeg")

//twitter
meta(name="twitter:card", value="summary")
meta(name="twitter:site", content="@olynode")
meta(name="twitter:url", content="http://olynode.org")