div.row
  div.span12.header-image
    img(src="/img/headers/spar/spar-1170.jpg")
    p.pull-right image by 
      a(href="http://www.flickr.com/photos/21843970@N00/3430143494/") Patrick Donovan
div.hero-unit
  div#meetings.carousel.slide
    div.carousel-inner
      each meeting in meetings
        div.item.active
          include includes/meeting
    if meetings.length > 1
      p
        a.btn.btn-primary.btn-large.pull-left(href="#meetings", data-slide="prev") &laquo; Last
        a.btn.btn-primary.btn-large.pull-right(href="#meetings", data-slide="next") Next &raquo;

div.row.detail-unit
  div.span4
    include includes/details 
  div.span4
    include includes/location
  div.span4
    include includes/sponsors

hr
footer
  p &copy OlyNode 2012
script
    require(['bootstrap-carousel'], function(){
      $('#meetings').carousel('pause');
    });