!!!
html(lang="en")
  head
    title= title
    include shared/header/metadata
    include shared/header/styles
    include shared/header/scripts
  body
    include shared/navigation
    div.container
      != body
    include shared/widgets/forkme