div.row
  div.span12.header-image
    img(src="#{headImage.url}")
    p.pull-right image by 
      a(href="#{headImage.srcUrl}") #{headImage.srcAuthor}
div.hero-unit
  div#meetings.carousel.slide
    div.carousel-inner
      each meeting, index in meetings
        if index === 0
          div.item.active
            include shared/meeting
        else
          div.item
            include shared/meeting
    if meetings.length == 0
      div.item
        include shared/nomeeting
    if meetings.length > 1
      p
        a.btn.btn-primary.btn-large.pull-left(href="#meetings", data-slide="prev") &laquo; Last
        a.btn.btn-primary.btn-large.pull-right(href="#meetings", data-slide="next") Next &raquo;

div.row.detail-unit
  div.span4
    include shared/widgets/details 
  div.span4
    include shared/widgets/location
  div.span4
    include shared/widgets/sponsors

hr
footer
  p &copy OlyNode 2012