!!!
html(lang="en")
  head
    title= title
    include includes/metadata
    include includes/styles
    include includes/scripts
  body
    include includes/navigation
    div.container
      != body