h2 Our Details
p We are a set of developers interested in using Node.js to build rich realtime interactive web applications. We learn from each other and focus on building real applications at each meet up. 
p Bring your laptop and a friend. 
p Beginners welcome.