h2 Our Location
img(width="320", height="155", alt="416 Washington St. SE Olympia, WA 98501", src="http://maps.googleapis.com/maps/api/staticmap?center=416+washington+st+se,+olympia,+wa+98501&zoom=15&size=320x155&maptype=roadmap&markers=color:blue%7c416+washington+st+se,+olympia,+wa+98501&sensor=false")