h2 Our Sponsors
div#sponsors.carousel.slide
  div.carousel-inner
    div.item.active
      a(href="http://nodejitsu.com")
        img(src="/img/sponsors/nodejitsu.png", alt="Nodejitsu")
      div.carousel-caption
        h4 Nodejitsu
        p The simplest, most reliable and intelligent Node.js hosting platform you can get. This site is hosted with them. Give them a try.
    div.item 
      a(href="http://codesmartinc.com")
        img(src="/img/sponsors/codesmart.png", alt="CodeSmart")
      div.carousel-caption
        h4 CodeSmart Inc
        p CodeSmart has been locally owned and operated in the Olympia, WA area since 2002. We direct, design, develop and deliver full end-to-end information systems using leading edge Microsoft .Net technologies and recommended best practices.
    div.item
      a(href="http://tekpub.com")
        img(src="/img/sponsors/tekpub.png", alt="TekPub")
      div.carousel-caption
        h4 TekPub
        p Concise, professional, top-quality screencasts. Get up to speed on new technologies in a fraction of the time. Microsoft.Net, Ruby, Javascript, Linux - it's all here.